<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
    <footer th:fragment="footer">
        <div id="Footer">

            <div id="PoweredBy">&nbsp<a href="www.csu.edu.cn">www.csu.edu.cn</a>
            </div>


<!--            个人做一些小修改，让未登录的用户也可以得到一个随机推荐广告-->
            <div id="Banner">
                <a th:if="${account!=null}"  href="viewCategory?${categoryId=sessionScope.account.favouriteCategoryId}" th:text="${account.favouriteCategoryId}">
                    你最爱的宠物
                </a>
            </div>

        </div>
    </footer>
</body>
</html>