<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
    <header th:fragment="header">
        <div id="Header">

            <div id="Logo">
                <div id="LogoContent">
                    <a href="/catalog/view"><img src="../images/logo-topbar.gif" /></a>
                </div>
            </div>

            <div id="Menu">
                <div id="MenuContent">
                    <a href="/cart/viewCart">
                    <img align="middle" name="img_cart"src="../images/cart.gif" />
                    </a>

                    <img align="middle"src="../images/separator.gif" />
                    <a th:if="${true}" href="viewSignOnForm">Sign In</a>

                    <a th:if="${flase}" href="signOut">Sign Out</a>
                    <img th:if="${sessionScope.account!=null}" align="middle" src="../images/separator.gif"/>

                    <a th:if="${sessionScope.account!=null}" href="viewEditAccountForm?username=${sessionScope.account.username}">My Account</a>

                    <img align="middle"src="../images/separator.gif" />

                    <a href="never">?</a>
                </div>
            </div>
            <div id="Search">
                <div id="SearchContent">

                    <form action="searchProduct" method="post">
                        <input type="text" id="keyword" name="keyword" size="14"/>
                        <div class="auto hidden" id="auto">
                            <div class="auto_out">1</div>
                            <div class="auto_out">2</div>
                        </div>
                        <input type="submit" name="searchProducts" value="Search" />
                        <script src="js/first.js"></script>
                    </form>
                </div>
            </div>







            <div id="QuickLinks">
                <a href="viewCategory?categoryId=FISH"  value="FISH"><img
                        src="../images/sm_fish.gif" /></a> <img src="../images/separator.gif" />
                <a href="viewCategory?categoryId=DOGS" name="DOGS"><img
                        src="../images/sm_dogs.gif" /></a> <img src="../images/separator.gif" />
                <a href="viewCategory?categoryId=REPTILES" name="REPTILES"><img
                        src="../images/sm_reptiles.gif" /></a> <img
                    src="../images/separator.gif" />
                <a href="viewCategory?categoryId=CATS" name="CATS"><img
                        src="../images/sm_cats.gif" /></a> <img src="../images/separator.gif" />
                <a href="viewCategory?categoryId=BIRDS" name="BIRDS"><img
                        src="../images/sm_birds.gif" /></a>
            </div>

        </div>

    </header>
</body>
</html>