<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mypetstore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
    <header th:fragment="header">
        <div id="Header">

            <div id="Logo">
                <div id="LogoContent">
                    <a href="/catalog/viewMain"><img src="../images/logo-topbar.gif" /></a>
                </div>
            </div>

            <div id="Menu">
                <div id="MenuContent">
                    <a href="/cart/viewCart">
                    <img align="middle" name="img_cart"src="../images/cart.gif" />
                    </a>

                    <img align="middle"src="../images/separator.gif" />
<!--                    在controller层将account设为null，可是这里却依然判定其非空，故添加一个变量来强行转变-->
<!--                    在测测试过程中发现，若将判断设为exit的ture，则无法显示sign in 故此处只能添加非 符号-->
<!--                    因为一旦将account设为非空值后account将一直保持非空-->
<!--                    故可设立两个sign in 一个在account 空 时显示-->
<!--                    一个在account非空但退出账号后显示-->
                    <a th:if="${session.account} == null" href="/account/viewSignOnForm">Sign In</a>

                    <a th:if="(${session.account} != null) and (${!session.authenticated})" href="/account/viewSignOnForm">Sign In</a>

                    <a th:if="(${session.account} !=null) and (${session.authenticated})" href="/account/viewSignOff">Sign Out</a>
                    <img th:if="(${session.account} !=null) and (${session.authenticated})" align="middle" src="../images/separator.gif"/>

                    <a th:if="(${session.account} !=null) and (${session.authenticated})" th:href="@{/account/viewEditAccount?username=} + ${session.username}">My account</a>

                    <img align="middle"src="../images/separator.gif" />

                    <a href="../help.html">?</a>
                </div>
            </div>
            <div id="Search">
                <div id="SearchContent">

                    <form action="/catalog/searchProduct" method="post">
                        <input type="text" name="keyword" id="keyword" size="14"/>
<!--                        <div class="auto hidden" id="auto">-->
<!--                            <div class="auto_out">1</div>-->
<!--                            <div class="auto_out">2</div>-->
<!--                        </div>-->
                        <input type="submit" name="searchProducts" value="Search" />
                    </form>
                </div>
            </div>







            <div id="QuickLinks">
                <a href="/catalog/viewCategory?categoryId=FISH"  value="FISH"><img
                        src="../images/sm_fish.gif" /></a> <img src="../images/separator.gif" />
                <a href="/catalog/viewCategory?categoryId=DOGS" name="DOGS"><img
                        src="../images/sm_dogs.gif" /></a> <img src="../images/separator.gif" />
                <a href="/catalog/viewCategory?categoryId=REPTILES" name="REPTILES"><img
                        src="../images/sm_reptiles.gif" /></a> <img
                    src="../images/separator.gif" />
                <a href="/catalog/viewCategory?categoryId=CATS" name="CATS"><img
                        src="../images/sm_cats.gif" /></a> <img src="../images/separator.gif" />
                <a href="/catalog/viewCategory?categoryId=BIRDS" name="BIRDS"><img
                        src="../images/sm_birds.gif" /></a>
            </div>

        </div>

    </header>
</body>
</html>