<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<div th:replace="common/top">

</div>

<div id="Catalog">
    <form action="/order/newOrder" method="post">

    <table>
        <tr>
            <th colspan=2>Payment Details</th>
        </tr>
        <tr>
            <td>Card Type:</td>
            <td><select name="order.cardType">
                <option value="Visa">Visa</option>
                <option value="MasterCard">MasterCard</option>
                <option value="American Express">American Express</option>
            </select></td>
        </tr>
        <tr>
            <td>Card Number:</td>
            <td th:text="${order.creditCard}"> * Use a fake number!</td>
        </tr>
        <tr>
            <td>Expiry Date (MM/YYYY):</td>
            <td th:text="${order.expiryDate}"></td>
        </tr>
        <tr>
            <th colspan=2>Billing Address</th>
        </tr>

        <tr>
            <td>First name:</td>
            <td th:text="${order.billToFirstName}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${order.billToLastName}"></td>
        </tr>
        <tr>
            <td>Address 1:</td>
            <td th:text="${order.billAddress1}"></td>
        </tr>
        <tr>
            <td>Address 2:</td>
            <td th:text="${order.billAddress2}"></td>
        </tr>
        <tr>
            <td>City:</td>
            <td th:text="${order.billCity}"></td>
        </tr>
        <tr>
            <td>State:</td>
            <td th:text="${order.billState}"></td>
        </tr>
        <tr>
            <td>Zip:</td>
            <td th:text="${order.billZip}"></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td th:text="${order.billCountry}"></td>
        </tr>

        <tr>
            <td colspan=2><checkbox name="shippingAddressRequired" />
                Ship to different address...</td>
        </tr>

    </table>

    <input type="submit" name="newOrder" value="Continue" />

</form></div>

<div th:replace="common/bottom">

</div>

</body>
</html>